body{
      background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

header{
      box-shadow: var(--box-shadow);
      background: linear-gradient(to top, #ffffff 0%, #fafafa 99%, #fafcff 100%);
  }
  
  header .logo{
      font-size: 20px;
      color: var(--black);
  }
  header .logo span{
      color: var(--main-color);
  }
  header .nav a{
      margin-left: 3px;
      border-radius: 40px;
      color: var(--black);
      padding:5px 15px;
  }
  header .nav a.active{
      background: var(--main-color);
      color: white;
  }
  header .nav a:hover{
      background: var(--main-color);
      box-shadow: var(--black);
      color: #fff;
  }
  #menu-bar{
      color: var(--black);
      cursor: pointer;
      font-size: 24px;
      transition: all.2s linear;
  }


    /* sign in */

.sign-in {
      margin-top: 100px;
}

.card {
      height: 630px;
      width: 800px;
      background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 3.5px );
      -webkit-backdrop-filter: blur( 3.5px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      padding: 20px;
      border-radius: 20px;
    }
    
    .card h2 {
      color: rgb(94, 88, 88);
      font-size: 25px;
      font-weight: 600;
      letter-spacing: 1px;
      margin-left: 10px;
      margin-bottom: 20px;
    }
    
    .card .inputBox {
      width: 100%;
      margin-top: 20px;
    }
    
    .card .inputBox input {
      width: 100%;
      background: rgba(255, 255, 255, 0.2);
      border: none;
      outline: none;
      padding: 10px 20px;
      border-radius: 35px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      font-size: 16px;
      letter-spacing: 1px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    }
    .card .inputBox select{
      width: 100%;
      background: rgba(255, 255, 255, 0.2);
      border: none;
      outline: none;
      padding: 10px 20px;
      border-radius: 35px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      font-size: 16px;
      letter-spacing: 1px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    }
    .card .inputBox input:focus{
      background: linear-gradient(to right, #f9c822 0%, #e6ecf6 51%, #b8edff 100%);
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 18.5px );
      -webkit-backdrop-filter: blur( 18.5px );
      border-radius: 35px;
      border: 1px solid rgba(70, 91, 94, 0.18); 
    }
    
    .card .btn-login {
      background: rgba( 238, 157, 54, 0.95 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 14px );
-webkit-backdrop-filter: blur( 14px );
border-radius: 30px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
      font-size: 16px;
      letter-spacing: 1px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
      color: #000;
      width: 140px;
      font-size: 16px;
      margin-left: 10px;
      height: 45px;
      cursor: pointer;
      margin-bottom: 30px;
      
    }
    .card .btn-login:hover{
      background: #77A5F8 ;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 30px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    
    .card .forget {
      color: rgb(57, 58, 54);
      font-size: 17px;
      text-align: center;
    }
    
    .card .forget a {
      color: rgb(9, 81, 90);
      font-weight: 600;
      font-size: 19px;
      text-decoration:none;
    }




    /*Clearing Floats*/
.cf:before, .cf:after{
  content:"";
  display:table;
}

.cf:after{
  clear:both;
}

.cf{
  zoom:1;
}    
/* Form wrapper styling */

.search-wrapper {
  width: 450px;
  margin: 150px auto 50px auto;
  border-radius: 40px;
background: transparent;
  box-shadow: 0 4px 20px -2px #e9e9e9;
}

/* Form text input */

.search-wrapper input {


  font: bold 13px 'lucida sans', 'trebuchet MS', 'Tahoma';
  border: 0;
  background: #fff;
  border-radius: 40px;
  border-top-style: none;
}

.search-wrapper input:focus {
  outline: 0;
  background: #fff;
  box-shadow: 0 0 2px rgba(0,0,0,0.8) inset;
}

.search-wrapper input::-webkit-input-placeholder {
 color: #999;
 font-weight: normal;
 font-style: italic;

}

.search-wrapper input:-moz-placeholder {
  
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
border-style: none;
}   

/* Form submit button */
.search-wrapper button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 30px;
  width: 60px;
  font: 13px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: #fff;
  text-transform: uppercase;
  background: #198cff;
  border-radius: 40px;
  text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}  

.search-wrapper button:hover{    
/*     background: #e54040; */
}  

.search-wrapper button:active,
.search-wrapper button:focus{  
  background: #198cff;
  outline: 0;  
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before{
      border-right-color: #c42f2f;
}     

.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
  border: 0;
  padding: 0;
}   

.customSearchBox{
  width: 313px !important;
}

.customButtonPhone{
  width: 132px  !important;
   height: 50px !important;
  top: 0px !important;
  right: 1px !important;
}